.steps {
  padding-top: 123px;
  padding-bottom: 123px;

  @media screen and (max-width: 1079px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.steps__container {
  width: min(1624px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  h2 {
    max-width: 792px;
    margin-bottom: 140px;
    font-size: 200px;
    color: #000;

    @media screen and (max-width: 1079px) {
      margin-bottom: 90px;
      font-size: 70px;
    }
  }

  ul {
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1079px) {
      margin-bottom: 90px;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 90px;
    }

    li {
      border: 5px solid #000;
      border-radius: 20px;
      padding: 26px;

      @media screen and (max-width: 1079px) {
        padding: 26px 19px 19px 19px;
        border-width: 2px;
        border-radius: 15px;
      }

      h3 {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        gap: 26px;
        font-size: 20px;
        color: #000;

        @media screen and (max-width: 1079px) {
          margin-bottom: 20px;
          font-size: 21px;

          svg {
            width: 23px;
          }
        }
      }

      p {
        max-width: 390px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #000;

        @media screen and (max-width: 1079px) {
          font-size: 17px;
        }
      }
    }
  }

  & > span {
    width: fit-content;
    display: block;
    margin-left: auto;
    font-size: 100px;
    color: #000;

    @media screen and (max-width: 1079px) {
      margin-right: auto;
      font-size: 40px;
    }
  }
}
